#Home {
    width: 100%;
    height: 100vh;
}

#Home header {
    font-size: 270%;
    font-weight: 300;
    user-select: none;
    margin: 20vh 5%;
}

#home-avatar {
    position: absolute;
    right: 9%;
    top: 18vh;
    width: 37%;
    z-index: -2;
}

#biggest-bean {
    position: absolute;
    left: -10%;
    top: -44vh;
    width: 80%;
    z-index: -1;
    transform: rotate(-20deg);
    transition: all ease-in-out 10000ms;
    -webkit-transition: all ease-in-out 10000ms;
    -moz-transition: all ease-in-out 10000ms;
    transform-origin: right;
}

#biggest-bean path {
    transition: all cubic-bezier(.51, .24, .47, 1.18) 6000ms;
    -webkit-transition: all cubic-bezier(.51, .24, .47, 1.18) 6000ms;
    -moz-transition: all cubic-bezier(.51, .24, .47, 1.18) 6000ms;
}