#Home {
    width: 100%;
    height: 100vh;
}

#Home header {
    font-size: 270%;
    font-weight: 300;
    user-select: none;
    margin: 20vh 5%;
}

#home-avatar {
    position: absolute;
    right: 5%;
    top: 18vh;
    width: 37%;
}

#biggest-bean {
    position: absolute;
    left: -14%;
    top: -10vh;
    width: 57%;
    z-index: -1;
    transition: all ease-in-out 400ms;
}