.App {
    max-width: 1400px;
    margin: auto;
}

@keyframes loadingLogo {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(-5px);
    }
}

.loadingContainer {
    height: 100vh;
    width: 100vw;
    background-color: #000;
    z-index: 4;
    position: fixed;
    left: 0;
    display: flex;
    transition: 600ms;
    align-items: center;
    justify-content: center;
}

.loadingContainer.false {
    opacity: 0;
}

.loadingDot {
    width: 30px;
    height: 30px;
    background-color: #cc250b;
    margin: 10px;
    border-radius: 50%;
}

.loadingDot:first-child {
    animation: loadingLogo 500ms alternate 0ms infinite ease-out;
}

.loadingDot:nth-child(2) {
    animation: loadingLogo 500ms alternate 100ms infinite ease-out;
}

.loadingDot:last-child {
    animation: loadingLogo 500ms alternate 200ms infinite ease-out;
}

